{{- /*
Renders the hero image of the home page.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $title := .title }}
{{- $subtitle := .subtitle }}
{{- $cta := .cta }}

{{- with resources.Get "media/hero.jpg"}}
<div class="hero"
    style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ .RelPermalink }}');">
    <div class="hero-text">
        <h1>{{ $title }}</h1>
        <p>{{ $subtitle }}</p>
        <a class="button" href="#">{{ $cta }}</a>
    </div>
</div>
{{ end }}