{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

<div id="navbar">
  <div class="brand">
    <a href="{{ .Site.BaseURL | relLangURL }}">
      {{- with resources.Get "media/logo.svg"}}
      <img src="{{ .RelPermalink }}" alt="logo">
      {{ end }}
    </a>
  </div>
  <div class="items">
    {{- partial "inline/menu/items.html" (dict "menuID" $menuID "page" $page) }}
  </div>
  {{- with resources.Get "media/icons/hamburger.svg"}}
    <span class="hamburger-icon" style="background-image: url('{{ .RelPermalink }}');"></span>
    <input class="hamburger-checkbox" type="checkbox" />
    <div class="hamburger-items">
      {{- partial "inline/menu/items.html" (dict "menuID" $menuID "page" $page) }}
    </div>
  {{ end }}
</div>

{{- define "partials/inline/menu/items.html" }}
  {{- $menuID := .menuID }}
  {{- $page := .page }}

  {{- with index site.Menus $menuID }}
  <ul>
    <li class="donation-button">
      <a class="button" href="https://www.sandbox.paypal.com/donate?hosted_button_id=ML4YZ9CEMHNWL" target="_blank">
        Faire un don
      </a>
    </li>
    {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
  </ul>
  {{- end }}
{{ end }}

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
  {{- $attrs := dict "href" .URL }}
  {{- if $page.IsMenuCurrent .Menu . }}
    {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
  {{- else if $page.HasMenuCurrent .Menu .}}
    {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
  {{- end }}
  <li class="page-link">
    <a {{- range $k, $v :=$attrs }} {{- with $v }} {{- printf " %s=%q" $k $v | safeHTMLAttr }} {{- end }} {{- end -}}>{{
      or (T .Identifier) .Name | safeHTML }}</a>
    {{- with .Children }}
    <ul>
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
    </ul>
    {{- end }}
  </li>
  {{- end }}
{{- end }}