body {
  color: #222;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  line-height: 1.5;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

footer {
  font-size: 80%;
  text-align: center;
}

.button {
  background-color: #DEAA87;
  border-radius: 3px;
  color: #000000a1;
  font-weight: 600;
  padding: 10px 20px;
}

.navbar {
  box-sizing: border-box;
  display: flex;
  padding: 10px 200px;
  width: 100%;
}

.navbar .brand img {
  height: 50px;
}

.navbar .items {
  margin-left: auto;
}

.navbar .items ul {
  list-style-type: none;
}

.navbar .items ul li {
  float: left;
  margin-right: 20px;
}

.announcement {
  background-color: #DEAA87;
}

.announcement p {
  font-size: 90%;
  margin: 0;
  padding: 5px 200px;
  text-align: center;
}

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 30px 30px;
  position: relative;
  margin: 0 200px;
}

.hero-text {
  color: white;
  padding: 75px 20px;
}

.hero-text h1 {
  font-size: 300%;
  margin-bottom: 0;
}

.hero-text p {
  font-size: 150%;
  margin-top: 0;
  margin-bottom: 30px;
}