#navbar {
    box-sizing: border-box;
    display: flex;
    padding: 10px 0;
    width: 100%;

    .brand {
        img {
            height: 50px;
        }
    }

    .items {
        margin-left: auto;

        ul {
            list-style-type: none;

            li {
                float: left;
                margin-right: 20px;
            }
        }
    }
}