#about {
    .section {
        margin-bottom: 20px;

        .title {
            font-size: 150%;
            font-weight: bold;
        }
    }

    #activities {
        .activity {
            .info {
                font-size: 90%;
            }

            .pictures::-webkit-scrollbar {
                display: none;
            }

            .pictures {
                display: flex;
                overflow-x: scroll;

                .frame {
                    border: solid 1px #cccccc;
                    border-radius: 5px;
                    margin-right: 10px;
                    padding: 7px;
                    width: fit-content;

                    .picture {
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 3px;
                        height: 200px;
                        width: 300px;
                    }
                }
            }
        }
    }

    #team {
        #team-members {
            display: flex;
            flex-wrap: wrap;

            .team-member {
                border: solid 1px #cccccc;
                border-radius: 5px;
                margin: 5px;
                padding: 10px;
                width: 200px;
                text-align: center;

                .picture {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 50%;
                    height: 100px;
                    margin: 0 auto 10px auto;
                    width: 100px;
                }

                .name {
                    font-weight: bold;
                }

                @media only screen and (max-width: 768px) {
                    width: 100%;
                }
            }
        }
    }
}