#about {
    #title {
        h1 {
            font-size: 250%;
            margin: 0;
            padding-top: 20px;
        }
    }

    #activities {
        .activity {
            .title {
                font-size: 150%;
                font-weight: bold;
            }

            .info {
                font-size: 90%;
            }
        }
    }

    #team {
        .title {
            font-size: 150%;
            font-weight: bold;
        }
        
        #team-members {
            display: flex;
            flex-wrap: wrap;

            .team-member {
                border: solid 1px #cccccc;
                border-radius: 5px;
                margin: 5px;
                padding: 10px;
                width: 200px;
                text-align: center;

                .picture {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: aqua;
                    border-radius: 50%;
                    height: 100px;
                    margin: 0 auto 10px auto;
                    width: 100px;
                }

                .name {
                    font-weight: bold;
                }
            }
        }
    }
}