#contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    row-gap: 1rem;
    border-radius: 1rem;
    width: 100%;

    @media only screen and (max-width: 768px) {
        width: auto;
    }

    .form-group {
        display: flex;
        flex-direction: column;
    }

    .form-control {
        padding: .5rem;
        border: solid 1px #bdbdbd;
        border-radius: 5px;
        font-size: inherit;
        font-family: inherit;

        &:hover, &:focus {
            outline: none;
            border-color: $main-color-dark;
        }

        &.message {
            min-height: 6rem
        }
    }
}