.announcement {
    background-color: $accent-color;
}

.announcement p {
    font-size: 90%;
    margin: 0;
    padding: 5px 0;
    text-align: center;
}

.verse {
    margin: 10px 20px;
}

.verse .verse-text p {
    font-size: 120%;
}

.verse .reference .reference-book {
    font-weight: bold;
    font-size: 110%;
}

#mission {
    margin: 0 20px;
}

#mission .mission-cards {
    display: flex;
    flex-wrap: wrap;
}

#mission .mission-card {
    border: solid 1px #c1c1c1;
    border-radius: 5px;
    flex: 1;
    margin: 5px;
    min-width: 300px;
}

#mission .mission-card .mission-card-icon {
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-size: 110%;
    margin-right: 10px;
    padding: 5px;
}

#mission .mission-card .mission-card-title {
    background-color: $accent-color;
    font-weight: bold;
    font-size: 120%;
    padding: 10px;
}

#mission .mission-card .mission-card-text {
    padding: 10px;
}

#mission .mission-card .mission-card-text p {
    margin: 0;
}