.announcement {
    background-color: $accent-color;
}

.announcement p {
    font-size: 90%;
    margin: 0;
    padding: 5px 0;
    text-align: center;
}

.verse {
    margin: 10px 20px;
}

.verse .verse-text p {
    font-size: 120%;
}

.verse .reference .reference-book {
    font-weight: bold;
    font-size: 110%;
}

#mission {
    margin: 0 20px;
}

.mission-cards {
    display: flex;
    flex-wrap: wrap;
}

.mission-card {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 300px;
}

.mission-card-header {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: -125px;
    z-index: 100;
}

.mission-card-icon {
    background-color: white;
    border: solid 1px #c1c1c1;
    border-radius: 50%;
    font-size: 40px;
    height: 60px;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    width: 60px;
}

.mission-card-title {
    font-weight: bold;
    font-size: 150%;
    text-align: center;
}

.mission-card-content {
    border: solid 1px #c1c1c1;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    min-height: 250px;
    margin: 40px 5px 5px 5px;
    padding: 80px 20px 20px 20px;
}