{{ define "main" }}

<div id="home">
  <!-- Announcement -->
  {{ with .Site.GetPage "home/announcement.md" }}
    {{ partial "home/announcement.html" (dict "announcement" .Content) }}
  {{ end }}

  <!-- Hero image -->
  {{ with .Site.GetPage "home/hero.md" }}
    {{ partial "home/hero.html" (dict "title" .Title "subtitle" .Params.subtitle "call_to_action" .Params.call_to_action) }}
  {{ end }}

  <!-- Verse -->
  {{ with .Site.GetPage "home/verse.md" }}
    {{ partial "home/verse.html" (dict "verse" .Content "book" .Params.book "reference" .Params.reference "version" .Params.version) }}
  {{ end }}

  <!-- Mission -->
  {{ partial "home/mission.html" . }}
</div>

{{ end }}