{{ with .Site.GetPage "about/activities.md" }}
<div id="activities">
    <h2>{{ .Title }}</h2>
    {{- with .Site.GetPage "about/activities/activity-1.md"  }}
        {{- partial "inline/about/activity.html" (dict "title" .Title "when" .Params.when "where" .Params.where "description" .Content) }}
    {{ end }}
</div>
{{ end }}

{{- define "partials/inline/about/activity.html" }}
    {{- $title := .title }}
    {{- $when := .when }}
    {{- $where := .where }}
    {{- $description := .description }}
    <div class="activity">
        <div class="title">{{ $title }}</div>
        <div class="info">
            <div class="date">{{ $when }}</div>
            <div class="place">{{ $where }}</div>
        </div>
        <div class="description">{{ $description }}</div>
    </div>
{{ end }}