{{ with .Site.GetPage "about/team.md" }}
<div id="team">
    <div class="title">{{ .Title }}</div>
    {{ .Content }}
    <div id="team-members">
        {{- with .Site.GetPage "about/team/navin.md" }}
            {{- partial "inline/about/team-member.html" (dict "firstName" .Params.firstName "lastName" .Params.lastName "role" .Title  "picture" .Params.picture) }}
        {{ end }}
        {{- with .Site.GetPage "about/team/laval.md" }}
            {{- partial "inline/about/team-member.html" (dict "firstName" .Params.firstName "lastName" .Params.lastName "role" .Title  "picture" .Params.picture) }}
        {{ end }}
        {{- with .Site.GetPage "about/team/joanna.md" }}
            {{- partial "inline/about/team-member.html" (dict "firstName" .Params.firstName "lastName" .Params.lastName "role" .Title  "picture" .Params.picture) }}
        {{ end }}
        {{- with .Site.GetPage "about/team/achil.md" }}
            {{- partial "inline/about/team-member.html" (dict "firstName" .Params.firstName "lastName" .Params.lastName "role" .Title "picture" .Params.picture) }}
        {{ end }}
        {{- with .Site.GetPage "about/team/emmanuel.md" }}
            {{- partial "inline/about/team-member.html" (dict "firstName" .Params.firstName "lastName" .Params.lastName "role" .Title  "picture" .Params.picture) }}
        {{ end }}
        {{- with .Site.GetPage "about/team/ophny.md" }}
            {{- partial "inline/about/team-member.html" (dict "firstName" .Params.firstName "lastName" .Params.lastName "role" .Title  "picture" .Params.picture) }}
        {{ end }}
    </div>
</div>
{{ end }}

{{- define "partials/inline/about/team-member.html" }}
    {{- $firstName := .firstName }}
    {{- $lastName := .lastName }}
    {{- $role := .role }}
    {{- $picture := .picture }}

    <div class="team-member">
        {{- with resources.Get ( printf "media/about/team/%s.png" $picture ) }}
            <div class="picture" style="background-image: url('{{ .RelPermalink }}');"></div>
        {{ end }}
        <div class="name">
            <span>{{ $firstName }}</span>
            <span>{{ $lastName }}</span>
        </div>
        <div class="role">{{ $role }}</div>
    </div>
{{ end }}