{{ with .Site.GetPage "about/team.md" }}
<div>
    <h2>{{ .Title }}</h2>
    {{ .Content }}

    {{- with .Site.GetPage "about/team/navin.md" }}
        {{- partial "inline/about/team-member.html" (dict "title" .Title "firstName" .Params.firstName "lastName" .Params.lastName "picture" .Params.picture) }}
    {{ end }}
    {{- with .Site.GetPage "about/team/laval.md" }}
        {{- partial "inline/about/team-member.html" (dict "title" .Title "firstName" .Params.firstName "lastName" .Params.lastName "picture" .Params.picture) }}
    {{ end }}
    {{- with .Site.GetPage "about/team/joanna.md" }}
        {{- partial "inline/about/team-member.html" (dict "title" .Title "firstName" .Params.firstName "lastName" .Params.lastName "picture" .Params.picture) }}
    {{ end }}
    {{- with .Site.GetPage "about/team/emmanuel.md" }}
        {{- partial "inline/about/team-member.html" (dict "title" .Title "firstName" .Params.firstName "lastName" .Params.lastName "picture" .Params.picture) }}
    {{ end }}
    {{- with .Site.GetPage "about/team/ophny.md" }}
        {{- partial "inline/about/team-member.html" (dict "title" .Title "firstName" .Params.firstName "lastName" .Params.lastName "picture" .Params.picture) }}
    {{ end }}
    {{- with .Site.GetPage "about/team/achille.md" }}
        {{- partial "inline/about/team-member.html" (dict "title" .Title "firstName" .Params.firstName "lastName" .Params.lastName "picture" .Params.picture) }}
    {{ end }}
</div>
{{ end }}

{{- define "partials/inline/about/team-member.html" }}
    {{- $title := .title }}
    {{- $firstName := .firstName }}
    {{- $lastName := .lastName }}
    {{- $picture := .picture }}
    <div>
        <div>
            <span>{{ $firstName }}</span>
            <span>{{ $lastName }}</span>
        </div>
        <div>{{ $title }}</div>
    </div>
{{ end }}