<div id="mission">
    <div class="mission-cards">
        {{- with .Site.GetPage "home/mission/mission-1.md" }}
            {{- partial "inline/mission/mission-card.html" (dict "title" .Title "icon" .Params.icon "content" .Content) }}
        {{ end }}
        {{- with .Site.GetPage "home/mission/mission-2.md" }}
            {{- partial "inline/mission/mission-card.html" (dict "title" .Title "icon" .Params.icon "content" .Content) }}
        {{ end }}
        {{- with .Site.GetPage "home/mission/mission-3.md" }}
            {{- partial "inline/mission/mission-card.html" (dict "title" .Title "icon" .Params.icon "content" .Content) }}
        {{ end }}
    </div>
</div>

{{- define "partials/inline/mission/mission-card.html" }}
    {{- $title := .title }}
    {{- $icon := .icon}}
    {{- $content := .content }}
    <div class="mission-card">
        <div class="mission-card-header">
            <div class="mission-card-icon">{{ $icon }}</div>
            <div class="mission-card-title">{{ $title }}</div>
        </div>
        <div class="mission-card-content">
            {{ $content }}
        </div>
    </div>
{{ end }}